//
   Created by gibertclement on 12/12/2016.

extends ../layout

block content
    form(action='' method='post')
        input(type='text' name="titrearticle" placeholder="Titre de l'article")
        br
        br
        textarea(type='textarea' name="contenu")
        br
        input(type='submit')