//
   Created by gibertclement on 12/12/2016.

extends ../layout



block content
    form(action='' method='post')
        input(type='text' name="titre" placeholder="Titre de l'article")
        br
        br
        textarea#editor1(name='contenu', rows='10', cols='80')
            | This is my textarea to be replaced with CKEditor.
        script.
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('contenu');
        input(type='submit')