//
   Created by gibertclement on 06/10/2016.

extends ../users/index
// nous déclarons le block qui sera inséré dans le layout
block article
    // Nous affichons une variable title, le = nous permet d'échapper le caractère
    ul
        each article in articles
            form(action='/articles/read' method='post')
                textarea(name="article", rows='10', cols='80',disabled)
                    = article.titre


                    = article.contenu
                input(type='hidden',name="article", value= article.titre)
                if(user.id == article.user)
                    input(type='submit', value="modifier")




    br
    br
    a(href='/articles/create')
        input(type='submit', value='Creer un article')
    form(action='/articles?_method=PUT' method='post')
        input(type="text", name="titre", placeholder="nom de l'article")
        input(type='submit', value='Chercher un article')