//
   Created by Pierre on 16/01/2017.

extends ../users/index
// nous déclarons le block qui sera inséré dans le layout
block article
    // Nous affichons une variable title, le = nous permet d'échapper le caractère
    form(action='/articles/update?_method=PUT' method='post')
        input(type='text' name="titre" placeholder="Titre de l'article" value=article.titre)
        br
        br
        textarea#editor1(name='contenu', rows='10', cols='80')
            = article.contenu
        script.
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            CKEDITOR.replace('contenu');
        input(type='submit')