//
   Created by Pierre on 06/10/2016.

extends ../layout

block content

    form(action='' method='post')
        input(type='mail' name="email" placeholder='email')
        br
        input(type='password' name="password" placeholder='password')
        br
        input(type='submit')

    a(href='/users/inscription')
        input(type='button', value='inscription')
    a(href='/users')
        input(type='button', value='acceuil')
