//
   Created by Pierre on 05/10/2016.

extends ../layout

block content

    form(action='' method='post')
        input(type='text' name="firstname" placeholder='FirstName')
        br
        input(type='text' name="name" placeholder='Name')
        br
        input(type='mail' name="email" placeholder='email')
        br
        input(type='password' name="password" placeholder='password')
        br
        input(type='submit')

    a(href='/users/connexion')
        input(type='button', value='connexion')
    a(href='/users')
        input(type='button', value='acceuil')
